/** Reset **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Sans serif;
}

html {
  font-size: 1em;
}


/** Pols **/

.pols {
  font-size: .7em;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pols__dot {
  width: 2em;
  height: 2em;
  border: 3px solid black;
  border-radius: 100%;
  margin: 1em .1em;
}

/* Low (low) */
.pols.low .pols__dot--one {
  background-color: #F0586B;
}

/* Mid (mid) */
.pols.mid .pols__dot--one,
.pols.mid .pols__dot--two {
  background-color: #F7CC1F;
}

/* High (high) */
.pols.high .pols__dot--one,
.pols.high .pols__dot--two,
.pols.high .pols__dot--three {
  background-color: #7ED321;
}
